APP_PORT=8001

DB_USER=actividad4_user
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432
DB_NAME=actividad4

POSTGRES_PORT=5433
POSTGRES_USER=actividad4_user
POSTGRES_PASSWORD=
POSTGRES_DB=actividad4

PGADMIN_PORT=5051
PGADMIN_EMAIL=admin@actividad4.com
PGADMIN_PASSWORD=

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60